/* 静态文件导入 自定义样式*/

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes breathAnimation { /* 呼吸动画 */
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes slideAnimation {  /* 滑动动画1 */
  0%, 100% {
    bottom: 20%;
  }
  50% {
    bottom: 60%;
  }
}

@keyframes floatAnimation {  /* 滑动动画2，有点乱需要调整 */
  0%, 100% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 25%;
    left: 75%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 75%;
    left: 25%;
  }
}

body {
  margin: 0;
  height: 100vh;
}

#wrapper{
  width: 100%;
  height: 100%;
/*   background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0px,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 0px,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 100px
    ); */
  position: relative; /* 设置#wrapper相对定位，以便伪元素相对于它定位 */
  background-attachment: fixed !important;  /* 固定背景 */
/*   background-size: 25px 23px; */
}

#wrapper::before {
  content: "";
  position: fixed;
  bottom: 10%;
  left: -120px;
  width: 400px; /* 修改图形的大小为直径200px */
  height: 400px; /* 修改图形的大小为直径200px */
  background: rgba(234, 56, 77, 1); /* 设置图形的背景色为绿色 */
  border-radius: 50%; /* 将图形的角改为圆形 */
  animation: breathAnimation 15s infinite ease-in-out; /* 设置图形的呼吸动画，时长为3秒 */
  box-shadow: 0 0 10px rgba(234, 56, 77, 0.8); /* 设置阴影 */
}

#wrapper::after {
  content: "";
  position: fixed; /* 将伪元素固定定位，要配合wrapper的position: relative;使用；absolute为随内容滚动 */
  top: 15%;
  right: 17px;
  width: 100px; /* 设置图形的大小 */
  height: 100px; /* 设置图形的大小 */
  background: #4B54DE; /* 设置图形的背景色为蓝色 */
  border-radius: 15px; /* 设置角为圆角 */
  animation: rotateAnimation 20s infinite linear; /* 设置图形的旋转动画 */
  transform-origin: center; /* 设置旋转的中心点为图形的中心 */
  box-shadow: 0 0 10px rgba(75,84,222, 0.8); /* 设置阴影 */
}

/* footer {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px,
    transparent 100px
  ),
  linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px,
    transparent 100px
  );
  background-size: 25px 23px;
} */

footer {
  background-color: rgba(0, 0, 0, 0); /* 设置背景颜色的透明度为 0，如果不生效可以去第7步页脚修改处修改 */
}
